{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{% static "css/styles.css" %}'>
{% endblock %}

{% block header %}
<h1>Olá, viajante!</h1>
<p>Parece que você me encontrou! Bem vindo ao meu humilde recanto, muito prazer em lhe conhecer, Sou o Nycolas! Que tal
    conhecer um pouco mais sobre mim?</p>

{% endblock %}

{% block content %}

<section>
    <h2>Sobre Mim</h2>
    <p>Sou um desenvolvedor back-end apaixonado por desafios e aventuras tecnológicas. Com minha coragem e habilidades,
        navego pelos reinos do código em busca de soluções e inovações.</p>
</section>

<section>
    <h2>Habilidades</h2>
    <ul>
        <li><strong>Linguagens Mágicas:</strong> Python, Java, JavaScript, React Native</li>
        <li><strong>Magias em aprendizado:</strong> C#, PostgreSQL, API REST</li>
        <li><strong>Base de dados para conhecimento mágico:</strong> SQLServer, Clickhouse, SQLite </li>
        <li><strong>Habilidades Especiais:</strong> Git, Github, Árvores Binárias, BigO Notation</li>
        <li><strong>Hobbies:</strong> Tocar músicas que aprendi com um bardo, jogar os mais diversos gêneros de jogos,
            melhorar minhas habilidades físicas (como treinamentos/academias)</li>
        <li><strong>Títulos:</strong> "Cientista de dados", "Desenvolvedor Back-End", "Mago do BigData", "Aprendiz em
            magias de inteligência artificial"</li>
    </ul>
</section>

<section>
    <h2>Missão Atual</h2>
    <p>Atualmente, estou em uma jornada para dominar os segredos da tecnologia. Em meu caminho, enfrento bugs
        maliciosos, otimizando sistemas e construindo novas ferramentas dar um upgrade em minhas habilidades
        pessoais/profissionais.</p>
</section>

<section>
    <h2>Conquistas</h2>
    <ul>
        <li><strong>Hero of Coding:</strong> Vencedor do desafio de programação do campeonato <a
                title="GROW+ Innovation Awards 2° edição, vencedor na categoria PME para a empresa Metalúrgica Schwarz S/A"
                href="https://youtu.be/7hLEyvSeCbg?t=2494" target="_blank">GROW+ Innovation Awards</a></li>
        <li><strong>Slayer of Bugs:</strong> Resolvi [número] de problemas em [projetos/repositórios]</li>
        <li><strong>Architect of Solutions:</strong> Desenvolvi [especificar] sistema para otimizar [processo/projeto]
        </li>
    </ul>
</section>

<section>
    <h2>Próximas Aventuras</h2>
    <p>Estou preparando-me para explorar as profundezas do [especificar tecnologia ou projeto]. Venha se juntar a mim
        nesta jornada épica!</p>
</section>

<section>
    <h2>Conecte-se</h2>
    <p>Se você deseja embarcar nesta aventura junto comigo ou apenas bater um papo sobre tecnologia e jogos, sinta-se à
        vontade para me contatar!</p>
</section>

{% endblock %}

{% block js %}
<script type="module" src="{% static 'js/index.js' %}"></script>

{% endblock %}