*{
    margin: 0;
}

html{
    height: 100%;
    display: flex
}

body {
    display: flex;
    flex-grow: 1;
    
    background-color: var(--main-bg-color)
}

/* Loading Screen */

body .loadingContainer{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;  

    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}

body .loadingContainer.fade{
    opacity: 0;
}

body .loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

body .loading img{
    width: 90%
}

/* Fonts */

    /* Shadow Into Light */
@import url('https://fonts.googleapis.com/css2?family=Shadow+Into+Light&display=swap');

    /* Caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

/* Container Page */

body .container {
    display: flex;
    flex-grow: 1;
    width: 100%;

    font-family: "Shadow Into Light", "Caveat", cursive;
}

/* Footer */

footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid black;
}

footer a{
    color: var(--link-color);
    padding: 1px 2px 1px 2px;
    transition: all 0.2s ease-in-out; 
}

footer a:hover{
    color: #FFF;
    background-color: var(--link-color);
}

/* Theme Site */

:root{
    /* Body */
    --main-bg-color: #f0f0f0;

    /* Header */
    --header-bg-color: #f4f4f4;
    --header-color: #333;

    /* Footer */
    --link-color:#00d9ff
}